html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

body {
    background-image: url(./assets/img/Hubble_Deep.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    
h1 {
    font-size: 36pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 16pt;
}